* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0 auto;
}

.nav,
.link,
.header-button {
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1380px;
  position: fixed;
  z-index: 1;
  background-color: white;
}

li {
  list-style: none;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 0 20px;
}

.nav .link {
  transition: 0.3s;
}

.nav .link:hover {
  border-bottom: 5px solid black;
}

.header-space {
  width: 350px;
}

.header-button {
  /* margin-left: auto; */
  padding: 9px 25px;
  background: blue;
  color: white;
  border: none;
}

/* section-1 */

.section-1 {
  position: relative;
  height: 550px;
  width: 100%;
  background-color: aqua;
  /* padding: 40px; */
  /* border: 1px solid black; */
}

.section-1-box {
  margin: 0 auto;
  width: 60%;
}

.header-text {
  line-height: 110%;
  text-align: center;
  font-size: 68px;
  padding: 80px 0 40px 0;
}

.section-1-text {
  display: flex;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}

.section-1-side-text {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /* margin-top: 10px; */
  margin-bottom: 20px;
}

.section-1-side-text-2 {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.try-free {
  height: 30px;
  width: auto;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-solid {
  display: flex;
  font-size: 40px;
  color: black;
}

.jumbo-image {
  margin-top: 20px;
  width: 60%;
}

/* section-2 */

.section-2 {
  margin: 0 auto;
  width: 60%;
  margin-top: 70px;
  margin-bottom: 60px;
  /* border: 2px solid black; */
}

.section-2-header {
  font-size: 42px;
  margin-bottom: 40px;
}

.section-2-checkbox {
  /* position: relative; */
  width: 100%;
  margin-bottom: 30px;
}

.fa-circle-dot {
  font-size: 15px;
  color: blue;
}

.fa-regular {
  font-size: 15px;
  color: lightgray;
}

/* cards section/ section-2 */

.cards-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 600px;
  max-height: 600px;
  margin-bottom: 60px;
}

#card1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.fa-person {
  font-size: 16px;
}

.card1-header {
  height: 20px;
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
}

.card1-article {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
}

.card1-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

/* card-2-section */

#card2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  margin-left: 30px;
}

.card2-header {
  height: 20px;
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
}

.card2-article {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
}

.card2-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.fa-people-roof {
  font-size: 16px;
}

/* card-3-section */

#card3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  margin-left: 30px;
}

.card3-header {
  height: 20px;
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
}

.card3-article {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
}

.card3-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.fa-industry {
  font-size: 16px;
}

/* end-vertical-cards-section-2 */

/* section-2-Hbox */
.fa-building {
  font-size: 16px;
}

.hbox-container {
  border: 1px solid black;
}

.hbox-header {
  border-bottom: 1px solid black;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid black;
}

.wrapper > header {
  /* flex-grow-flex-srink-flex-basis shortcut keep header with 100% width */
  flex: 0 0 100%;
  text-align: center;
  background-color: white;
}

.wrapper > div {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  /* border: 1px solid black; */
  text-align: justify;
}

.rbox {
  flex-grow: 1;
  flex-shrink: 0;
  /*Low flex basis values to keep it next to each other*/
  flex-basis: 30%;
}

.wrapper > div .lbox {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  margin-left: 0;
}

/* image with text on the right side */

.section3-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}
.section3-container > .section3-image {
  flex: 1 0 0%;
}
.section3-image > img {
  vertical-align: top;
  width: 450px;
  /* max-width: 100%; */
  /* max-height: 300px; */
}
.section3-container > .section3-side-text {
  flex: 2 0 0%;
  margin: auto 0;
  padding: 40px;
}

/* section-4 */

.section4-header-text {
  text-align: center;
  margin-bottom: 40px;
}

.section4-container {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.section4-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 1%;
  margin-bottom: 40px;
}

.section4-image-wrapper {
  height: 0;
  padding-bottom: 80%;
  position: relative;
}

.section4-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.section4-text {
  /* background: royalblue; */
  padding: 20px;
  flex: 1 0 auto;
}

/* end-section-4 */

.know-more-client {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 60px;
}

.some-extra-info {
  font-size: 28px;
  margin-bottom: 40px;
}

/* section-5 */

.section5-container {
  width: 100%;
  height: 500px;
  border: 1px solid black;
  display: flex;
}

.box1 {
  width: calc(100% / 3);
  height: 100%;
  background-color: greenyellow;
}

.box2 {
  width: calc(100% / 3);
  height: 100%;
  background-color: royalblue;
}

.box3 {
  width: calc(100% / 3);
  height: 100%;
  background-color: tomato;
}

.section5-fbox {
  width: 100%;
  height: 250px;
  background-color: grey;
}
